/* This file handles styling of the formAI3.html page */
body {
    background-image: url("abstract- edit white.png");
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    font-family: 'Montserrat';
}

 {
  background-color: antiquewhite
}

/* Dropdown Button */
.dropbtn {
background-color: #5b9bc6;
color: white;
padding: 5px;
font-size: 14px;
border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
font-size: 12px;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 10px 12px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
background-color: #457596S;
}
